<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Modifier une categorie</div>
                <div class="card-body">
                    <form method="post">
                        <div class="mb-3">
                            <label for="title">Titre</label>
                            <input type="text" class="form-control" name="title" id="nom" placeholder="Entrez votre titre" value="<%= categorie.title %>">
                        </div>
                        <button type="submit" class="btn btn-primary">Modifier</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>